
/DOTA608
/DOTA_V1.0_Split
/MiniTrain
/Visualize/images
/weights_dota
MiniTrain.zip
/Archive
DOTA_TEST/part1.zip
DOTA_TEST/part2.zip

608.zip
/Bridge
/__pycache__
/DOTA608
/DOTA_V1.0_Split
/merge_dota
/models/__pycache__
/result_dota
Visualizer.zip
/Visualizer/images
/Visualizer/merge_dota608
/Visualizer/myEnv
/Visualizer/result_dota608
/weights_dota
/datasets/__pycache__
/myEnv
DOTA608.zip
/myEnvMPS
/myEnvCuda
/datasets/__pycache__
/__pycache__
/__pycache__
__pycache__/decoder.cpython-310.pyc
__pycache__/decoder.cpython-312.pyc
__pycache__/eval.cpython-310.pyc
__pycache__/eval.cpython-312.pyc
__pycache__/func_utils.cpython-310.pyc
__pycache__/func_utils.cpython-312.pyc
__pycache__/loss.cpython-310.pyc
__pycache__/loss.cpython-312.pyc
__pycache__/test.cpython-310.pyc
__pycache__/test.cpython-312.pyc
__pycache__/train.cpython-310.pyc
__pycache__/train.cpython-312.pyc
__pycache__/train.cpython-313.pyc
datasets/._draw_gaussian.py
datasets/base.py
datasets/data_augment.py
datasets/dataset_dota.py
datasets/dataset_hrsc.py
datasets/draw_gaussian.py
datasets/hrsc_evaluation_task1.py
datasets/transforms.py
datasets/__pycache__/base.cpython-310.pyc
datasets/__pycache__/base.cpython-312.pyc
datasets/__pycache__/data_augment.cpython-310.pyc
datasets/__pycache__/data_augment.cpython-312.pyc
datasets/__pycache__/dataset_dota.cpython-310.pyc
datasets/__pycache__/dataset_dota.cpython-312.pyc
datasets/__pycache__/dataset_hrsc.cpython-310.pyc
datasets/__pycache__/dataset_hrsc.cpython-312.pyc
datasets/__pycache__/draw_gaussian.cpython-310.pyc
datasets/__pycache__/draw_gaussian.cpython-312.pyc
datasets/__pycache__/hrsc_evaluation_task1.cpython-310.pyc
datasets/__pycache__/hrsc_evaluation_task1.cpython-312.pyc
datasets/__pycache__/transforms.cpython-310.pyc
datasets/__pycache__/transforms.cpython-312.pyc
__pycache__/decoder.cpython-310.pyc
__pycache__/decoder.cpython-312.pyc
__pycache__/eval.cpython-310.pyc
__pycache__/eval.cpython-312.pyc
__pycache__/func_utils.cpython-310.pyc
__pycache__/func_utils.cpython-312.pyc
__pycache__/loss.cpython-310.pyc
__pycache__/loss.cpython-312.pyc
__pycache__/test.cpython-310.pyc
__pycache__/test.cpython-312.pyc
__pycache__/train.cpython-310.pyc
__pycache__/train.cpython-312.pyc
__pycache__/train.cpython-313.pyc
datasets/._draw_gaussian.py
datasets/base.py
datasets/data_augment.py
datasets/dataset_dota.py
datasets/dataset_hrsc.py
datasets/draw_gaussian.py
datasets/hrsc_evaluation_task1.py
datasets/transforms.py
datasets/__pycache__/base.cpython-310.pyc
datasets/__pycache__/base.cpython-312.pyc
datasets/__pycache__/data_augment.cpython-310.pyc
datasets/__pycache__/data_augment.cpython-312.pyc
datasets/__pycache__/dataset_dota.cpython-310.pyc
datasets/__pycache__/dataset_dota.cpython-312.pyc
datasets/__pycache__/dataset_hrsc.cpython-310.pyc
datasets/__pycache__/dataset_hrsc.cpython-312.pyc
datasets/__pycache__/draw_gaussian.cpython-310.pyc
datasets/__pycache__/draw_gaussian.cpython-312.pyc
datasets/__pycache__/hrsc_evaluation_task1.cpython-310.pyc
datasets/__pycache__/hrsc_evaluation_task1.cpython-312.pyc
datasets/__pycache__/transforms.cpython-310.pyc
datasets/__pycache__/transforms.cpython-312.pyc
/merge_dota
/result_dota
/datasets/Bridge
/datasets/DOTA608
/datasets/DOTA_V1.0_Split
/datasets/Validate
/datasets/MiniTrainV1.1
/datasets/MiniTrainV1
/datasets/ValidateSplit
datasets/ValidateSplit.zip
*.DS_Store
/datasets/BridgeTrainFull
/datasets/BridgeValidateFull
/datasets/BridgeValidateFull
/datasets/HalfScale_BridgeTrainFull
datasets/MiniTrainV1.1.zip
datasets/DOTA_V1.0_Split.zip
/datasets/NewSplitTrial
/datasets/NewSplitTrial
/datasets/GLH_5_Percent
/datasets/GLH_5_Percent_1
datasets/GLH_5_Percent_0.5/GLH_5_Percent_0.5.zip
/datasets/GLH_5_Percent_0.5
/datasets/GLH_10_Percent_1_608_100
/datasets/Validate_DOTA_0.5
/datasets/Validate_DOTA_1
datasets/GLH_10_Percent_1_608_100.zip
/datasets/Validate_DOTA_1_0.5
GLH_10_Percent_0.5_608_100.zip
datasets/Validate_DOTA_1_0.5.zip
/datasets/BridgeTrain
/datasets/Validate_1_0.5_600_100
datasets/BridgeTrain.zip
datasets/._part1-001.zip
datasets/part1-001.zip
datasets/Validate_1_0.5_600_100.zip
/mpsre
/datasets/BridgeTrain
/datasets/BridgeTrain
/datasets/BridgeTrain
/datasets/__pycache__
/__pycache__
/__pycache__
/__pycache__
datasets/BridgeTrain.zip
/Result
/Custom/Evaluation
Custom/Scripts/evaluate_models.sh
/Trainval
/Custom/Evaluation
/Result
/tpu
